<virtual-scroller #scroll [items]="(movies$ | async)" (vsEnd)="fetchMore($event)">
    <!-- <my-custom-component *ngFor="let item of scroll.viewPortItems">
    </my-custom-component> -->

    <div class="movies-container" #container>

        <app-movie *ngFor="let movie of scroll.viewPortItems; trackBy: trackByFn" [movie]="movie"
            [userWatched]="userMovies.has(movie.id)" [userLiked]="!!userMovies.get(movie.id)"
            [userDisliked]="!userMovies.get(movie.id)" (like)="onLikeMovie($event)" (dislike)="onDislikeMovie($event)">
        </app-movie>

    </div>

</virtual-scroller>