<div class="movies-container" gdGap="1rem" gdColumns="repeat(auto-fill, minmax(400px, 1fr)"
    gdRows="repeat(auto-fill, minmax(400px, 1fr)" gdGap="1rem" gdColumns.lt-sm="repeat(auto-fill, minmax(100px, 1fr)"
    gdRows.lt-sm="repeat(auto-fill, minmax(100px, 1fr)">

    <mat-card *ngFor="let movie of movies" class="card" appMaterialElevation defaultElevation="0" raisedElevation="24"
        (click)="onLikeMovie(movie)" (dblclick)="onDislikeMovie(movie)">

        <div class="card-overlay">
            <i class="user-like far fa-thumbs-up" *ngIf="userMovies.has(movie.id) && !!userMovies.get(movie.id)"></i>
            <i class="user-like far fa-thumbs-down" *ngIf="userMovies.has(movie.id) && !userMovies.get(movie.id)"></i>
        </div>

        <img class="poster" [ngClass]="{'user-selected': userMovies.has(movie.id)}" mat-card-image
            src="{{imageUrl + movie.posterPath}}" alt="Photo of a Shiba Inu">
        <mat-card-header class="header">
            <mat-card-title class="title">
                {{ movie.title }}
            </mat-card-title>
            <mat-card-subtitle *ngIf="!media.isActive('lt-sm')" class="subtitle">Something</mat-card-subtitle>
        </mat-card-header>

    </mat-card>

</div>