.movies-container {
    padding: 1rem;

    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));
}

@media (max-width: 600px) {
    .movies-container {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
    }
}
// .scroll-container {
//     height: 100%;
//     width: 100%;
//     overflow: scroll;

//     &::-webkit-scrollbar {
//         width: 0em;
//         height: 0em;
//     }
// }

::-webkit-scrollbar {
    width: 0em;
    height: 0em;
}

virtual-scroller {
    width: 100%;
    height: 100%;
}
